
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f1e4;
    color: #333;
    line-height: 1.6;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #333;
    margin-bottom: 20px;
}

/* Button Styles on hover */
#change-color:hover {
    background-color: #45a049; /* Darker green on hover */
}


/* Slide Show Styles */
.slideshow-wrapper {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.prev, .next {
    cursor:pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation: fade 0.5s ease-in-out;
}

@keyframes fade {
    from { opacity: .4; }
    to { opacity: 1; }
}

/* Tabs Styles */
.tabs {
    max-width: 500px;
}

.tab-buttons {
    display: flex;
    margin: 0;
}

.tab-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #009945;
    border: none;
    border-bottom: 2px solid transparent;
}

.tab-btn.active {
    background-color: #004e21;
    border-bottom: 2px solid #2bd800;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #fff;
}

.tab-content.active {
    display: block;
    background-color: #009945;
}


/* Accordion Styles */
.accordion {
    background-color: #eee;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-button {
    background-color: #eee;
    color: #333;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
}

.accordion-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    padding: 0 10px;
    background-color: #f9f9f9;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;

}

.accordion-content.active {
    padding: 20px;
}

/* Form Styles */
.form-group {
    margin-bottom: 1.5rem;
}

input {
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input.valid {
    border-color: #4CAF50;
}

input.invalid {
    border-color: #f44336;
}

.error-message {
    color: #f44336;
    font-size: 0.9rem;
    display: none;
}